* {
    margin: 0px;
    padding: 0px;
    text-transform: capitalize;
    box-sizing: border-box;
}
#root{
    height: 100vh;
}

$blue: #2a52a5;
$white: #fff;

@mixin headerAndfooter {
    background-color: $blue;
    color: $white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}